<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChatBot Example</title>
    <link rel="stylesheet" href="../style/stylehome.css">
</head>
<body>
   
		<div id="menuoptions">
      <span id="closebutton">X</span>
			<div id="StartChat" class="StartChat" tabindex="1">
			<img src="https://philchallinor.co.uk/images/articles/chatbot.png" id="PersonIcon">
       
			<span id="Instruction">
        
				Would you like some help?
			</span>
		
			</div>
   
			<div id="chatwindow"></div>
			<div id="usertextboxmessage">
				<span>
					<input id="UserInputBox" type="text">
					<img src="https://philchallinor.co.uk/images/articles/send.png" class="message">
				</span>
			</div>
		</div>

    <script src="../js/chatbot.js">
        
    </script>
</body>
</html>
